<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoexe.discuz.system.modular.thread.mapper.ThreadsMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, last_posted_user_id, category_id, type, title, price, attachment_price, free_words, post_count, view_count, rewarded_count, paid_count, share_count, longitude, latitude, address, location, posted_at, created_at, updated_at, deleted_at, deleted_user_id, is_approved, is_sticky, is_essence, is_site, is_anonymous, is_display, is_red_packet, is_draft
    </sql>

</mapper>
