<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenyuxian.discuz.system.modular.thread.mapper.ThreadsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.chenyuxian.discuz.system.modular.thread.entity.Threads">
        <id column="id" property="id" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="user_id" property="userId" />
        <result column="last_posted_user_id" property="lastPostedUserId" />
        <result column="category_id" property="categoryId" />
        <result column="type" property="type" />
        <result column="title" property="title" />
        <result column="price" property="price" />
        <result column="attachment_price" property="attachmentPrice" />
        <result column="free_words" property="freeWords" />
        <result column="post_count" property="postCount" />
        <result column="view_count" property="viewCount" />
        <result column="rewarded_count" property="rewardedCount" />
        <result column="paid_count" property="paidCount" />
        <result column="share_count" property="shareCount" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="address" property="address" />
        <result column="location" property="location" />
        <result column="posted_at" property="postedAt" />
        <result column="deleted_at" property="deletedAt" />
        <result column="deleted_user_id" property="deletedUserId" />
        <result column="is_approved" property="isApproved" />
        <result column="is_sticky" property="isSticky" />
        <result column="is_essence" property="isEssence" />
        <result column="is_site" property="isSite" />
        <result column="is_anonymous" property="isAnonymous" />
        <result column="is_display" property="isDisplay" />
        <result column="is_red_packet" property="isRedPacket" />
        <result column="is_draft" property="isDraft" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        created_at,
        updated_at,
        id, user_id, last_posted_user_id, category_id, type, title, price, attachment_price, free_words, post_count, view_count, rewarded_count, paid_count, share_count, longitude, latitude, address, location, posted_at, deleted_at, deleted_user_id, is_approved, is_sticky, is_essence, is_site, is_anonymous, is_display, is_red_packet, is_draft
    </sql>

</mapper>
