<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenyuxian.discuz.system.modular.emoji.mapper.EmojiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.chenyuxian.discuz.system.modular.emoji.entity.Emoji">
        <id column="id" property="id" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="category" property="category" />
        <result column="url" property="url" />
        <result column="code" property="code" />
        <result column="order" property="order" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        created_at,
        updated_at,
        id, category, url, code, order
    </sql>

</mapper>
