<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoexe.discuz.system.modular.order.mapper.OrdersMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_sn, payment_sn, amount, master_amount, author_amount, third_party_amount, be_scale, user_id, payee_id, third_party_id, type, group_id, thread_id, status, payment_type, is_anonymous, post_id, refund, expired_at, created_at, updated_at, return_at
    </sql>

</mapper>
