<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenyuxian.discuz.system.modular.group.mapper.GroupsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.chenyuxian.discuz.system.modular.group.entity.Groups">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="color" property="color" />
        <result column="icon" property="icon" />
        <result column="is_default" property="isDefault" />
        <result column="is_display" property="isDisplay" />
        <result column="is_paid" property="isPaid" />
        <result column="fee" property="fee" />
        <result column="days" property="days" />
        <result column="scale" property="scale" />
        <result column="is_subordinate" property="isSubordinate" />
        <result column="is_commission" property="isCommission" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, type, color, icon, is_default, is_display, is_paid, fee, days, scale, is_subordinate, is_commission
    </sql>

</mapper>
