<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoexe.discuz.system.modular.post.mapper.PostGoodsMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, post_id, platform_id, title, price, image_path, type, status, ready_content, detail_content, created_at, updated_at, deleted_at
    </sql>

</mapper>
