<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenyuxian.discuz.system.modular.dialog.mapper.DialogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.chenyuxian.discuz.system.modular.dialog.entity.Dialog">
        <id column="id" property="id" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="dialog_message_id" property="dialogMessageId" />
        <result column="sender_user_id" property="senderUserId" />
        <result column="recipient_user_id" property="recipientUserId" />
        <result column="recipient_read_at" property="recipientReadAt" />
        <result column="sender_read_at" property="senderReadAt" />
        <result column="sender_deleted_at" property="senderDeletedAt" />
        <result column="recipient_deleted_at" property="recipientDeletedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        created_at,
        updated_at,
        id, dialog_message_id, sender_user_id, recipient_user_id, recipient_read_at, sender_read_at, sender_deleted_at, recipient_deleted_at
    </sql>

</mapper>
