<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoexe.discuz.system.modular.user.mapper.DenyUserMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, deny_user_id, created_at
    </sql>

    <delete id="deleteDenyUser">
        delete from deny_user where user_id = #{userId} and deny_user_id = #{denyUserId}
    </delete>
    
    <select id="selectPage" resultType="com.aoexe.discuz.system.modular.user.model.result.DenyUserResult">
        select avatar, deny_user_id, nickname, user_id, username
         from deny_user du join user on user.id = du.user_id 
        ${ew.customsqlSegment}
    </select>

</mapper>
