<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoexe.discuz.system.modular.user.mapper.UserWalletCashMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, cash_sn, cash_charge, cash_actual_amount, cash_apply_amount, cash_status, cash_mobile, cash_type, remark, trade_time, trade_no, error_code, error_message, refunds_status, created_at, updated_at
    </sql>

</mapper>
