<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenyuxian.discuz.system.modular.user.mapper.UserWalletCashMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.chenyuxian.discuz.system.modular.user.entity.UserWalletCash">
        <id column="id" property="id" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="user_id" property="userId" />
        <result column="cash_sn" property="cashSn" />
        <result column="cash_charge" property="cashCharge" />
        <result column="cash_actual_amount" property="cashActualAmount" />
        <result column="cash_apply_amount" property="cashApplyAmount" />
        <result column="cash_status" property="cashStatus" />
        <result column="cash_mobile" property="cashMobile" />
        <result column="cash_type" property="cashType" />
        <result column="remark" property="remark" />
        <result column="trade_time" property="tradeTime" />
        <result column="trade_no" property="tradeNo" />
        <result column="error_code" property="errorCode" />
        <result column="error_message" property="errorMessage" />
        <result column="refunds_status" property="refundsStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        created_at,
        updated_at,
        id, user_id, cash_sn, cash_charge, cash_actual_amount, cash_apply_amount, cash_status, cash_mobile, cash_type, remark, trade_time, trade_no, error_code, error_message, refunds_status
    </sql>

</mapper>
