<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="cn.chenyuxian.discuz.system.modular.user.mapper.UserMapper">

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		created_at,
		updated_at,
		id, username, password, nickname, pay_password, mobile, signature,
		last_login_ip, last_login_port, register_ip, register_port,
		register_reason, reject_reason, username_bout, thread_count,
		follow_count, fans_count, liked_count, question_count, status, avatar,
		background, identity, realname, avatar_at, login_at, joined_at,
		expired_at, bind_type
	</sql>
	
	<select id="selectGroupByUserId" resultType="cn.chenyuxian.discuz.system.modular.group.entity.Group">
	   select g.* from user u
	   join group_user gu on u.id = gu.user_id
	   join group g on g.id = gu.group_id
	   where u.id = #{userId}
	</select>
	

</mapper>
