<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenyuxian.discuz.system.modular.user.mapper.UserDistributionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.chenyuxian.discuz.system.modular.user.entity.UserDistributions">
        <id column="id" property="id" />
        <result column="updated_at" property="updatedAt" />
        <result column="created_at" property="createdAt" />
        <result column="pid" property="pid" />
        <result column="user_id" property="userId" />
        <result column="be_scale" property="beScale" />
        <result column="level" property="level" />
        <result column="is_subordinate" property="isSubordinate" />
        <result column="is_commission" property="isCommission" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        updated_at,
        created_at,
        id, pid, user_id, be_scale, level, is_subordinate, is_commission
    </sql>

</mapper>
